.navlink {
  color: white;
  padding: 7px;
}

.container {
  margin: auto;
  width: 90%;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center {
  text-align: center;
}

.card {
  padding: 15px;
  margin: 10px;
}

.nav {
  margin-bottom: 25px;
}

.nav a {
  border-radius: 4px;
  padding: 6px 10px;
  margin-right: 10px;
  text-decoration: none;
}

.nav a.active {
  color: #fff;
  background: #7600dc;
}
.nav a.inactive {
  font-style: italic;
}

.nav a:hover {
  border: 2px solid transparent;
  color: indigo;
  transform: scale(1.05);
  transition: 0.5s transform ease-in;
  will-change: transform;
}

.nav a:hover::after {
  transform: translate(0, 0);
}


